
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: fuchsia;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
}
#container{
    display: flex;
    width: 800px;
    height: 300px;
    border: 2px dotted deeppink;
    background-color: lightcyan;
    margin: auto;
    margin-top: 150px;
    border-radius: 8px;
}
.post{
    width: 20px;
    height: 120px;
    border: 1px solid fuchsia;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: lightseagreen;
    border-radius: 5px;
}
.disk{
height: 15px;
border: 2px solid plum;
background-color: lightblue;
border-radius: 12px;
}

#disk1{width: 100px;}
#disk2{width: 75px;}
#disk3{width: 50px;}
